{% extends 'base.html.twig' %}

{% block title %}Author index
{% endblock %}

{% block body %}

	<h1>Auteurs</h1>
{%if app.user%}
	<a href="{{ path('app_author_new') }}" class="btn btn-danger">Create new</a>
	{%endif%}
	<br>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>nom</th>
				<th>prénom</th>

				{%if app.user%}
					<th>actions</th>
					{%endif%}</tr>
			</tr>
		</thead>
		<tbody>
			{% for author in authors %}
				<tr>
					<td>{{ author.id }}</td>
					<td>{{ author.lastname }}</td>
					<td>{{ author.firstname }}</td>

					{%if app.user%}
						<td>
							<a href="{{ path('app_author_show', {'id': author.id}) }}">show</a>
							<a href="{{ path('app_author_edit', {'id': author.id}) }}">edit</a>
						</td>
						{%endif%}
					</tr>
				{% else %}
					<tr>
						<td colspan="4">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>


{% endblock %}
