<nav>
	<div class="container">
		<a href="{{path('app_author_index')}}">author</a>
		<a href="{{path('app_available_index')}}">available
		</a>
		<a href="{{path('app_borrow_index')}}">borrow
		</a>
		<a href="{{path('app_consultation_index')}}">consultation
		</a>
		<a href="{{path('app_document_index')}}">document</a>
		<a href="{{path('app_genre_index')}}">genre</a>
		<a href="{{path('app_support_index')}}">support
		</a>
		<a href="{{path('app_staff_index')}}">staff
		</a>
		<a href="{{path('app_user_index')}}">user
		</a>
		<a href="{{path('app_role_index')}}">role
		</a>
	</div>
</nav>
