{% extends 'base.html.twig' %}

{% block title %}Consultation index
{% endblock %}

{% block body %}
	
	<h1>Consultation</h1>

	<br>
	<a href="{{ path('app_consultation_new') }}" class="create-new">Create new</a>


	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for consultation in consultations %}
				<tr>
					<td>{{ consultation.id }}</td>
					<td>{{ consultation.title }}</td>
					<td>
						<a href="{{ path('app_consultation_show', {'id': consultation.id}) }}">show</a>
						<a href="{{ path('app_consultation_edit', {'id': consultation.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% endblock %}
