{% extends 'base.html.twig' %}

{% block title %}Borrow index
{% endblock %}

{% block body %}

	<h1>Borrow index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Startdate</th>
				<th>Enddate</th>

				{%if app.user%}
					<th>actions</th>
					{%endif%}</tr>
			</tr>
		</thead>
		<tbody>
			{% for borrow in borrows %}
				<tr>
					<td>{{ borrow.id }}</td>
					<td>{{ borrow.startdate ? borrow.startdate|date('Y-m-d') : '' }}</td>
					<td>{{ borrow.enddate ? borrow.enddate|date('Y-m-d') : '' }}</td>

					{%if app.user%}
						<td>
							<a href="{{ path('app_borrow_show', {'id': borrow.id}) }}">show</a>
							<a href="{{ path('app_borrow_edit', {'id': borrow.id}) }}">edit</a>
						</td>
						{%endif%}
					</tr>
				{% else %}
					<tr>
						<td colspan="4">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
	{%if app.user%}
		<a href="{{ path('app_borrow_new') }}">Create new</a>
		{%endif%}
	{% endblock %}
