{% extends 'base.html.twig' %}

{% block title %}Available index{% endblock %}

{% block body %}

    <h1>Disponibilités</h1>
    <br> 
<a href="{{ path('app_available_new') }}" class="create-new">Create new</a>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for available in availables %}
            <tr>
                <td>{{ available.id }}</td>
                <td>{{ available.title }}</td>
                <td>
                    <a href="{{ path('app_available_show', {'id': available.id}) }}">show</a>
                    <a href="{{ path('app_available_edit', {'id': available.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
