{% extends 'base.html.twig' %}

{% block title %}Available{% endblock %}

{% block body %}
    <h1>Available</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ available.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ available.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_available_index') }}">back to list</a>

    <a href="{{ path('app_available_edit', {'id': available.id}) }}">edit</a>

    {{ include('available/_delete_form.html.twig') }}
{% endblock %}
