{% extends 'base.html.twig' %}

{% block title %}New Document
{% endblock %}

{% block body %}
	<h1>Create new Document</h1>

	{{ form_start(formDocument, {'attr': {'novalidate': 'novalidate'}}) }}
	{{ form_errors(formDocument) }}

	{{ form_row(formDocument.title) }}
	{{ form_row(formDocument.author) }}
	{{ form_row(formDocument.releasedate) }}

	{{ form_row(formDocument.description) }}
	
	{{ form_row(formDocument.consultation) }}
	{{ form_row(formDocument.available) }}
	{{ form_row(formDocument.support) }}
	{{ form_row(formDocument.genre) }}
	{{ form_row(formDocument.images) }}
	


	<button type="submit" class="btn btn-success">valider
	</button>


	{{ form_end(formDocument) }}


	<a href="#">back to list</a>
{% endblock %}
