{% extends 'base.html.twig' %}

{% block title %}New Document
{% endblock %}

{% block body %}
	<h1>Create new Document</h1>

	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	{{ form_errors(form) }}

	{{ form_row(form.title) }}
	{{ form_row(form.author) }}
	{{ form_row(form.description) }}
	{{ form_row(form.releasedate) }}
	{{ form_row(form.consultation) }}
	{{ form_row(form.available) }}
	{{ form_row(form.support) }}
	{{ form_row(form.genre) }}
	{{ form_row(form.image) }}


	<button type="submit" class="btn btn-success">valider
	</button>


	{{ form_end(form) }}


	<a href="{{ path('app_document_index') }}">back to list</a>
{% endblock %}
